{% extends 'pwdresetapp/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container shadow bg-white jumbotron" style="margin-top:150px;margin-bottom:150px; width: 600px;height: 250px;border-radius: 20px;">
        <form method="post" >
        <h2 class="text-success text-center" style="padding-top: 20px;"> Do you want to reset your password? </h2>
        {% csrf_token %}
        <div class="text-center mt-4" style="align-content: center;">
          {{form|crispy}}
        </div>
        <div class="text-center">
        <input type="submit" value="Send Me Email" class="btn btn-success mt-4 mb-4">
    </div>
    </form>
</div>
{% endblock %}